default: &default
  adapter: postgresql
  host: localhost

development:
  <<: *default
  database: rmph_dev

test:
  <<: *default
  database: rmph_test

production:
  <<: *default
  database: rmph_prod


